<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div class="poll">
        <h3><%= poll.title %></h3>
        <h2> <%= poll._id %> </h2>
        <h1>Poll voting not implemented yet.</h1>
    </div>

    
    <%- include("./partials/footer.ejs") %>
</body>
</html>